.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 0 20px;
    position: sticky;
    background: white;
    top: 0;
    height: 60px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.568);
    &__menu {
        position: relative;
        display: flex;
        &__hamburger {
            height: 30px;
            color: map-get($map: $colors, $key: primary);
            cursor: pointer;
            transition: all 120ms ease-in-out;
            &:hover {
                color: map-get($map: $colors, $key:secondary );
                transition: all 120ms ease-in-out;
            }
        }
        &__nav {
            position: fixed;
            background: white;
            z-index: 10;
            box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.103);
            width: 80px;
            top: 60px;
            bottom: 0;
            left: 0;
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 17px;
                width: 60px;
                height: 50px;
                margin-top: 15px;
                cursor: pointer;
                transition: all 120ms ease-in-out;
                &:hover {
                    background: map-get($colors, secondary);
                    transition: all 120ms ease-in-out;
                }
            }
            &__icon {
                height: 18px;
                &--home {
                    color: map-get($map: $colors, $key: primary);
                }
                &--logout {
                    color: map-get($map: $colors, $key: tertiary);
                }
                &--users {
                    color: purple;
                }
                &--message {
                    color:dodgerblue
                }
                &--legals {
                    color: forestgreen;
                }
                &--about {
                    color: darkmagenta;
                }
            }
        }
        img {
            height: 30px;
            margin-left: 15px;
            cursor: pointer;
        }
    }
    &__btns {
        display: flex;
        &__btn {
            height: 35px;width: 35px;
            margin-left: 10px;
            border-radius: 50%;
            background: red;
            cursor: pointer;
            &--profil {
                display: flex;
                justify-content: center;
                align-items: center;
                background: map-get($map: $colors, $key:light-white );
                overflow: hidden;
                margin-right: 15px;
                &:hover {
                    box-sizing: border-box;
                    border: 2px solid map-get($map: $colors, $key:primary );
                }
                img {
                    height: 35px;width: 35px;
                }
            }
            &__user {
                height: 22px;
                color: darken($color: map-get($map: $colors, $key:light-white ), $amount: 15);
            }
        }
    }
}