.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.568);
    &__menu {
        display: flex;
        &__hamburger {
            height: 30px;
            color: map-get($map: $colors, $key: primary);
        }
        img {
            height: 30px;
            margin-left: 15px;
            cursor: pointer;
        }
    }
    &__btns {
        display: flex;
        &__btn {
            height: 35px;width: 35px;
            margin-left: 10px;
            border-radius: 50%;
            background: red;
            cursor: pointer;
            &--profil {
                display: flex;
                justify-content: center;
                align-items: center;
                background: map-get($map: $colors, $key:light-white );
                overflow: hidden;
                margin-right: 15px;
                &:hover {
                    box-sizing: border-box;
                    border: 2px solid map-get($map: $colors, $key:primary );
                }
                img {
                    height: 35px;width: 35px;
                }
            }
            &__user {
                height: 22px;
                color: darken($color: map-get($map: $colors, $key:light-white ), $amount: 15);
            }
        }
    }
}