/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
}

a {
  color: initial;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.postArticle {
  background: white;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  border-radius: 8px;
}
.postArticle__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 20px;
  margin-bottom: 20px;
}
.postArticle__top__infos {
  display: flex;
  align-items: center;
}
.postArticle__top__infos__imgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
}
.postArticle__top__infos__imgCont__user {
  height: 22px;
  color: #c8c8c8;
}
.postArticle__top__infos__imgCont img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
@media screen and (max-width: 750px) {
  .postArticle__top__infos__imgCont {
    height: 30px;
    width: 30px;
  }
  .postArticle__top__infos__imgCont__user {
    height: 18px;
  }
  .postArticle__top__infos__imgCont img {
    height: 30px;
    width: 30px;
  }
}
.postArticle__top__infos__nameCont {
  line-height: 1.3;
}
.postArticle__top__infos__nameCont__name {
  font-weight: 600;
  text-transform: capitalize;
  color: #4e5166;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.postArticle__top__infos__nameCont__name:hover {
  color: #fd2d01;
  transition: all 150ms ease-in-out;
}
.postArticle__top__infos__nameCont__time {
  font-weight: 300;
  color: #8f8f8f;
}
.postArticle__top__menu {
  height: 16px;
  cursor: pointer;
  color: #4e5166;
  transition: all 150ms ease-in-out;
}
.postArticle__top__menu:hover {
  color: #fd2d01;
  transition: all 150ms ease-in-out;
}
.postArticle__top__menu__cont {
  position: absolute;
  right: 10px;
  top: 40px;
  padding: 15px;
  background: white;
  box-shadow: 2px 0 18px rgba(0, 0, 0, 0.205);
  border-radius: 8px;
  line-height: 1.3;
}
.postArticle__top__menu__cont li {
  color: #4e5166;
  cursor: pointer;
  transition: all 110ms ease-in-out;
}
.postArticle__top__menu__cont li:hover {
  color: #fd2d01;
  transition: all 110ms ease-in-out;
}
.postArticle__top__menu__cont__separator {
  border-top: 1px solid #e3e3e3;
  margin: 15px 0;
}
.postArticle__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.postArticle__content p {
  width: 650px;
  padding: 5px 20px 25px;
  line-height: 1.3;
  color: #080808;
}
.postArticle__content__imgCont {
  width: 100%;
}
.postArticle__content img {
  width: 100%;
}
.postArticle__content textarea {
  width: 650px;
  padding: 15px;
  resize: vertical;
  background-color: #fff1f1;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #4e5166;
}
.postArticle__content__editImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.postArticle__content__editImg img {
  width: 300px;
  object-fit: cover;
}
.postArticle__content__editImg button {
  width: 300px;
  background: #ffd7d7;
  border-top: none;
  border-left: 2px solid #dd0000;
  border-right: 2px solid #dd0000;
  border-bottom: 2px solid #dd0000;
  height: 35px;
  color: #4e5166;
  font-weight: 600;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.postArticle__content__editImg button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.postArticle__content__edit__addImg {
  width: 245px;
}
.postArticle__content__edit__addImg__topBtn {
  padding: 25px;
  width: 100%;
  background-color: #fff1f1;
  border-radius: 10px;
  border: 1px solid #ffd7d7;
  color: #4e5166;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.postArticle__content__edit__addImg__topBtn:hover {
  background-color: #ffd7d7;
  transition: all 150ms ease-in-out;
}
.postArticle__content__edit__addImg__overview__btnCont {
  width: 100%;
}
.postArticle__content__edit__addImg__overview__btnCont__deleteBtn {
  width: 100%;
  background: #ffd7d7;
  border-top: none;
  border-left: 2px solid #dd0000;
  border-right: 2px solid #dd0000;
  border-bottom: 2px solid #dd0000;
  height: 35px;
  color: #4e5166;
  font-weight: 600;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.postArticle__content__edit__addImg__overview__btnCont__deleteBtn:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.postArticle__content__btnCont {
  margin-top: 20px;
}
.postArticle__content__btnCont button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  margin: 0 10px;
}
.postArticle__content__btnCont button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.postArticle__btns {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.postArticle__btns__cont {
  color: #4e5166;
  display: flex;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.postArticle__btns__cont__iconCont__icon {
  height: 16px;
  margin-right: 5px;
}
.postArticle__btns__cont:hover {
  color: #fd2d01;
  transition: all 150ms ease-in-out;
}
.postArticle__btns__cont--liked {
  color: #fd2d01;
}
.postArticle__separator {
  border-top: 1px solid #e3e3e3;
  margin: 0 20px;
}
.postArticle__deleteModal {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.712);
}
.postArticle__deleteModal__modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eeeeee;
  padding: 20px 30px;
  border-radius: 5px;
}
.postArticle__deleteModal__modal h3 {
  font-size: 1.4em;
  font-weight: 600;
  color: #4e5166;
}
.postArticle__deleteModal__modal__alert {
  color: #dd0000;
  margin: 15px 0 25px;
}
.postArticle__deleteModal__modal__btnCont button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  margin: 0 5px;
}
.postArticle__deleteModal__modal__btnCont button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.postArticle__comments__loadAll {
  color: #4e5166;
  text-align: center;
  margin: 25px 0 15px;
  cursor: pointer;
  transition: all 110ms ease-in-out;
}
.postArticle__comments__loadAll:hover {
  color: #fd2d01;
  transition: all 110ms ease-in-out;
}
.postArticle__comments__createForm {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
}
.postArticle__comments__createForm input {
  background-color: #fff1f1;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding-left: 25px;
  font-size: 1.1em;
  border-radius: 30px 0 0 30px;
  height: 35px;
  resize: none;
  width: 250px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.19);
  font-size: 0.95em;
}
.postArticle__comments__createForm button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  height: 40px;
  border-radius: 0 30px 30px 0;
  padding-right: 15px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.19);
  margin-top: -1px;
}
.postArticle__comments__createForm button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.postArticle__comments__commentsContainer__nothing {
  text-align: center;
  margin: 20px 0;
  font-size: 1.1em;
  font-weight: 500;
  color: #4e5166;
}
@media screen and (max-width: 1050px) {
  .postArticle__deleteModal {
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  .postArticle__top__infos__imgCont {
    height: 40px;
    width: 40px;
  }
  .postArticle__top__infos__imgCont__user {
    height: 25px;
  }
  .postArticle__top__infos__imgCont img {
    height: 40px;
    width: 40px;
  }
  .postArticle__content p {
    width: 85%;
  }
  .postArticle__content textarea {
    width: 80%;
  }
  .postArticle__comments {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .postArticle__comments__createForm {
    width: 90%;
  }
  .postArticle__comments__commentsContainer {
    width: 95%;
  }
  .postArticle__btns__cont--hideShare {
    display: none;
  }
  .postArticle__deleteModal__modal {
    width: 70%;
  }
  .postArticle__deleteModal__modal__btnCont {
    display: flex;
    flex-direction: column;
  }
  .postArticle__deleteModal__modal__btnCont button {
    margin: 10px 0;
  }
}

.comment {
  padding: 10px 25px;
}
.comment__top {
  display: flex;
  position: relative;
  color: #22232c;
}
.comment__top__profilCont {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
}
.comment__top__profilCont__user {
  height: 22px;
  color: #c8c8c8;
}
.comment__top__profilCont img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
@media screen and (max-width: 750px) {
  .comment__top__profilCont {
    height: 30px;
    width: 30px;
  }
  .comment__top__profilCont__user {
    height: 18px;
  }
  .comment__top__profilCont img {
    height: 30px;
    width: 30px;
  }
}
.comment__top__bubble {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 50px;
  height: 15px;
  width: 15px;
  background: #ffd7d7;
  transform: rotate(45deg);
}
.comment__top__bubble--me {
  background: #ff8b8b;
}
.comment__top__content {
  z-index: 10;
  background: #ffd7d7;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.4;
  letter-spacing: 0.3px;
  max-width: 81%;
}
.comment__top__content--me {
  background: #ff8b8b;
}
.comment__top__content--ctrl {
  width: 81%;
  resize: vertical;
  border: none;
}
.comment__top__content--ctrl textarea {
  background: #ff8b8b;
  resize: vertical;
  border: none;
  width: 100%;
}
.comment__top__content--ctrl button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  font-size: 0.7em;
  height: 25px;
  margin-right: 10px;
}
.comment__top__content--ctrl button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.comment__top__menuCont {
  position: relative;
}
.comment__top__menuCont__menuBtn {
  width: 16px;
  margin: 2px 0 0 10px;
  color: #4e5166;
  cursor: pointer;
  transition: all 110ms ease-in-out;
}
.comment__top__menuCont__menuBtn:hover {
  color: #fd2d01;
  transition: all 110ms ease-in-out;
}
.comment__top__menuCont__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  right: 0;
  padding: 10px 15px;
  width: 185px;
  background: white;
  border-radius: 6px;
  line-height: 1.4;
  box-shadow: 2px 0 18px rgba(0, 0, 0, 0.212);
}
.comment__top__menuCont__menu__separator {
  border-bottom: 1px solid #e6e7ec;
  margin: 5px 0;
}
.comment__top__menuCont__menu__link {
  color: #4e5166;
  cursor: pointer;
  transition: all 140ms ease-in-out;
}
.comment__top__menuCont__menu__link:hover {
  color: #fd2d01;
  transition: all 140ms ease-in-out;
}
@media screen and (max-width: 1050px) {
  .comment__top__menuCont__menu {
    right: -60px;
  }
}
@media screen and (max-width: 750px) {
  .comment__top__menuCont__menu {
    right: initial;
    width: 80%;
    margin-right: 30px;
    /* position: fixed;
    top: 0;bottom: 0;
    left: 0;right: 0;
    width: 100%; */
  }
}
.comment__bot {
  display: flex;
  margin-top: 8px;
  padding-left: 55px;
}
.comment__bot p {
  margin-right: 12px;
}
.comment__bot__link {
  color: #4e5166;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.comment__bot__link:hover {
  color: #fd2d01;
  transition: all 150ms ease-in-out;
}
.comment__bot__link--liked {
  cursor: pointer;
  color: #fd2d01;
}
.comment__bot__time {
  color: #8f8f8f;
}
.comment__deleteModal {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.719);
}
.comment__deleteModal__modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px;
  border-radius: 5px;
}
.comment__deleteModal__modal h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
  color: #4e5166;
}
.comment__deleteModal__modal__btnCont button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  margin: 0 10px;
}
.comment__deleteModal__modal__btnCont button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
@media screen and (max-width: 750px) {
  .comment {
    padding: 8px 10px;
  }
  .comment__top__bubble {
    display: none;
  }
  .comment__top__content {
    max-width: 67%;
  }
  .comment__top__content textarea {
    height: 100px;
  }
  .comment__top__menuCont {
    display: flex;
    justify-content: end;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: initial;
  }
  .comment__deleteModal__modal {
    width: 80%;
  }
}
.comment__responseCount {
  color: #4e5166;
  margin: 15px 0 0 55px;
  cursor: pointer;
  transition: all 110ms ease-in-out;
}
.comment__responseCount:hover {
  color: #fd2d01;
  transition: all 110ms ease-in-out;
}
.comment__form {
  display: flex;
  margin: 10px 0 0 55px;
}
.comment__form input {
  background-color: #fff1f1;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding-left: 25px;
  font-size: 1.1em;
  font-size: 0.8em;
  border-radius: 30px 0 0 30px;
  padding-right: 10px;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.19);
}
.comment__form button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  border-radius: 0 30px 30px 0;
  height: 37px;
  font-size: 0.7em;
  padding-right: 15px;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.19);
}
.comment__form button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.comment__backBtn {
  margin-top: 8px;
  padding-left: 70px;
  color: #4e5166;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.comment__backBtn:hover {
  color: #fd2d01;
  transition: all 120ms ease-in-out;
}
@media screen and (max-width: 750px) {
  .comment__top__modifyBtn button {
    width: 100%;
    margin-top: 15px;
  }
  .comment__form {
    margin-left: initial;
  }
}

.response {
  padding: 10px 25px;
  padding-left: 70px;
}
.response__top {
  display: flex;
  position: relative;
  color: #22232c;
}
.response__top__profilCont {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
}
.response__top__profilCont__user {
  height: 22px;
  color: #c8c8c8;
}
.response__top__profilCont img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
@media screen and (max-width: 750px) {
  .response__top__profilCont {
    height: 30px;
    width: 30px;
  }
  .response__top__profilCont__user {
    height: 18px;
  }
  .response__top__profilCont img {
    height: 30px;
    width: 30px;
  }
}
.response__top__bubble {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 50px;
  height: 15px;
  width: 15px;
  background: #ffd7d7;
  transform: rotate(45deg);
}
.response__top__bubble--me {
  background: #ff8b8b;
}
.response__top__content {
  z-index: 10;
  background: #ffd7d7;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.4;
  letter-spacing: 0.3px;
  max-width: 81%;
}
.response__top__content--me {
  background: #ff8b8b;
}
.response__top__content--ctrl {
  width: 81%;
  resize: vertical;
  border: none;
}
.response__top__content--ctrl textarea {
  background: #ff8b8b;
  resize: vertical;
  border: none;
  width: 100%;
}
.response__top__content--ctrl button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  font-size: 0.7em;
  height: 25px;
  margin-right: 10px;
}
.response__top__content--ctrl button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.response__top__menuCont {
  position: relative;
}
.response__top__menuCont__menuBtn {
  width: 16px;
  margin: 2px 0 0 10px;
  color: #4e5166;
  cursor: pointer;
  transition: all 110ms ease-in-out;
}
.response__top__menuCont__menuBtn:hover {
  color: #fd2d01;
  transition: all 110ms ease-in-out;
}
.response__top__menuCont__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  right: 0;
  padding: 10px 15px;
  width: 185px;
  background: white;
  border-radius: 6px;
  line-height: 1.4;
  box-shadow: 2px 0 18px rgba(0, 0, 0, 0.212);
}
.response__top__menuCont__menu__separator {
  border-bottom: 1px solid #e6e7ec;
  margin: 5px 0;
}
.response__top__menuCont__menu__link {
  color: #4e5166;
  cursor: pointer;
  transition: all 140ms ease-in-out;
}
.response__top__menuCont__menu__link:hover {
  color: #fd2d01;
  transition: all 140ms ease-in-out;
}
@media screen and (max-width: 1050px) {
  .response__top__menuCont__menu {
    right: -60px;
  }
}
@media screen and (max-width: 750px) {
  .response__top__menuCont__menu {
    right: initial;
    width: 80%;
    margin-right: 30px;
    /* position: fixed;
    top: 0;bottom: 0;
    left: 0;right: 0;
    width: 100%; */
  }
}
.response__bot {
  display: flex;
  margin-top: 8px;
  padding-left: 55px;
}
.response__bot p {
  margin-right: 12px;
}
.response__bot__link {
  color: #4e5166;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.response__bot__link:hover {
  color: #fd2d01;
  transition: all 150ms ease-in-out;
}
.response__bot__link--liked {
  cursor: pointer;
  color: #fd2d01;
}
.response__bot__time {
  color: #8f8f8f;
}
.response__deleteModal {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.719);
}
.response__deleteModal__modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px;
  border-radius: 5px;
}
.response__deleteModal__modal h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
  color: #4e5166;
}
.response__deleteModal__modal__btnCont button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  margin: 0 10px;
}
.response__deleteModal__modal__btnCont button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
@media screen and (max-width: 750px) {
  .response {
    padding: 8px 10px;
  }
  .response__top__bubble {
    display: none;
  }
  .response__top__content {
    max-width: 67%;
  }
  .response__top__content textarea {
    height: 100px;
  }
  .response__top__menuCont {
    display: flex;
    justify-content: end;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: initial;
  }
  .response__deleteModal__modal {
    width: 80%;
  }
}
@media screen and (max-width: 750px) {
  .response__top__modifyBtn button {
    width: 100%;
    margin-top: 15px;
  }
}

.toTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 40px;
  width: 40px;
  background: #ffd7d7;
  border-radius: 6px;
  color: #4e5166;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.521);
  transition: all 200ms ease-out;
  opacity: 0;
  visibility: hidden;
  /* @include forMobile1 {
      right: 10px;
      top: initial;
      bottom: 80px;
  } */
}
.toTop:hover {
  color: #fd2d01;
  transition: color 500ms ease-out;
}
.toTop--visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 0 20px;
  position: sticky;
  background: white;
  top: 0;
  height: 60px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.568);
}
.header__menu {
  position: relative;
  display: flex;
}
.header__menu__hamburger {
  height: 30px;
  color: #fd2d01;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.header__menu__hamburger:hover {
  color: #ffd7d7;
  transition: all 120ms ease-in-out;
}
.header__menu__nav {
  position: fixed;
  background: white;
  z-index: 10;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.103);
  width: 80px;
  top: 60px;
  bottom: 0;
  left: 0;
}
.header__menu__nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__menu__nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  width: 60px;
  height: 50px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.header__menu__nav li:hover {
  background: #ffd7d7;
  transition: all 120ms ease-in-out;
}
.header__menu__nav__icon {
  height: 18px;
}
.header__menu__nav__icon--home {
  color: #fd2d01;
}
.header__menu__nav__icon--logout {
  color: #4e5166;
}
.header__menu__nav__icon--users {
  color: purple;
}
.header__menu__nav__icon--message {
  color: dodgerblue;
}
.header__menu__nav__icon--legals {
  color: forestgreen;
}
.header__menu__nav__icon--about {
  color: darkmagenta;
}
.header__menu img {
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
}
.header__btns {
  display: flex;
}
.header__btns__btn {
  height: 35px;
  width: 35px;
  margin-left: 10px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}
.header__btns__btn--profil {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  overflow: hidden;
  margin-right: 15px;
}
.header__btns__btn--profil:hover {
  box-sizing: border-box;
  border: 2px solid #fd2d01;
}
.header__btns__btn--profil img {
  height: 35px;
  width: 35px;
  object-fit: cover;
}
.header__btns__btn__user {
  height: 22px;
  color: #c8c8c8;
}
@media screen and (max-width: 750px) {
  .header__menu__nav {
    width: 50%;
  }
  .header__menu__nav li {
    margin-bottom: 15px;
    width: 100px;
  }
  .header__menu__nav__icon {
    height: 22px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eeeeee;
}

.home__newContent {
  width: 700px;
}
.home__newContent__new {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  margin-top: 25px;
}
.home__newContent__new h1 {
  font-weight: 600;
  font-size: 1.3em;
  color: #4e5166;
  margin-bottom: 30px;
}
.home__newContent__new__title {
  background-color: #fff1f1;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding-left: 25px;
  font-size: 1.1em;
}
.home__newContent__new textarea {
  resize: vertical;
  margin: 20px 0;
  border-radius: 30px;
  padding: 25px;
  background-color: #fff1f1;
  border: none;
  box-shadow: 0px 0 2px rgba(0, 0, 0, 0.3);
}
.home__newContent__new__addImg {
  width: 100%;
  border-radius: 30px;
  background-color: #fff1f1;
  box-shadow: 0px 0 2px rgba(0, 0, 0, 0.3);
}
.home__newContent__new__addImg__topBtn {
  background-color: #fff1f1;
  border-radius: 30px;
  border: none;
  width: 100%;
  height: 100px;
  font-size: 1.1em;
  color: gray;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.home__newContent__new__addImg__topBtn:hover {
  color: #4e5166;
  transition: all 150ms ease-in-out;
}
.home__newContent__new__addImg__overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__newContent__new__addImg__overview img {
  width: 80%;
  border-radius: 4px;
}
.home__newContent__new__addImg__overview__btnCont {
  display: flex;
  justify-content: center;
  width: 100%;
}
.home__newContent__new__addImg__overview__btnCont__deleteBtn {
  margin-top: 20px;
  width: 80%;
  border: none;
  background-color: #fff1f1;
  padding: 10px 0;
  color: gray;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.home__newContent__new__addImg__overview__btnCont__deleteBtn:hover {
  color: #4e5166;
  transition: all 150ms ease-in-out;
}
.home__newContent__new__addBtn {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  width: 90px;
  margin-top: 30px;
}
.home__newContent__new__addBtn:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.home__mainContent {
  display: flex;
  flex-direction: column;
  width: 700px;
  min-height: 600px;
  margin-bottom: 50px;
}
.home__mainContent article {
  margin-top: 20px;
}
.home__mainContent h2 {
  font-size: 1.4em;
  font-weight: 600;
  color: #4e5166;
  text-align: center;
  margin-top: 120px;
}
@media screen and (max-width: 750px) {
  .home__newContent {
    width: 95%;
  }
  .home__newContent__new h1 {
    text-align: center;
  }
  .home__newContent__new textarea {
    min-height: 210px;
  }
  .home__newContent__new__addBtn {
    width: 100%;
    height: 50px;
  }
  .home__mainContent {
    width: 95%;
  }
}

.sign {
  height: 100vh;
  position: relative;
}
.sign__section {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign__section__form {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.sign__section__form h1 {
  font-weight: 600;
  font-size: 1.3em;
  color: #4e5166;
  margin-bottom: 40px;
  margin-left: 7px;
}
.sign__section__form__errorCont {
  margin-bottom: 22px;
  line-height: 1.2;
  color: #dd0000;
}
.sign__section__form__cont {
  display: flex;
}
.sign__section__form__cont__inputCont {
  display: flex;
  flex-direction: column;
  margin: 0 7px 30px;
}
.sign__section__form__cont__inputCont input {
  background-color: #fff1f1;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding-left: 25px;
  font-size: 1.1em;
}
.sign__section__form__checkCont {
  display: flex;
  align-items: center;
  margin-left: 7px;
  color: #4e5166;
}
.sign__section__form__checkCont input {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.sign__section__form__checkCont label {
  cursor: pointer;
}
.sign__section__form__btnCont {
  margin: 20px 0 0 7px;
}
.sign__section__form__btnCont button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  width: 100px;
}
.sign__section__form__btnCont button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.sign__section__link {
  color: blue;
  margin-left: 10px;
  transition: all 100ms ease-in-out;
}
.sign__section__link:hover {
  color: #fd2d01;
  transition: all 100ms ease-in-out;
}
.sign__section__link--noMarg {
  margin-left: 0;
}

.login {
  height: 100vh;
  position: relative;
}
.login__section {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login__section__form {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.login__section__form h1 {
  font-weight: 600;
  font-size: 1.3em;
  color: #4e5166;
  margin-bottom: 40px;
  margin-left: 7px;
}
.login__section__form__errorCont {
  margin-bottom: 22px;
  line-height: 1.2;
  color: #dd0000;
}
.login__section__form__cont {
  display: flex;
}
.login__section__form__cont__inputCont {
  display: flex;
  flex-direction: column;
  margin: 0 7px 30px;
}
.login__section__form__cont__inputCont input {
  background-color: #fff1f1;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding-left: 25px;
  font-size: 1.1em;
}
.login__section__form__checkCont {
  display: flex;
  align-items: center;
  margin-left: 7px;
  color: #4e5166;
}
.login__section__form__checkCont input {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.login__section__form__checkCont label {
  cursor: pointer;
}
.login__section__form__btnCont {
  margin: 20px 0 0 7px;
}
.login__section__form__btnCont button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  width: 100px;
}
.login__section__form__btnCont button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.login__section__link {
  color: blue;
  margin-left: 10px;
  transition: all 100ms ease-in-out;
}
.login__section__link:hover {
  color: #fd2d01;
  transition: all 100ms ease-in-out;
}
.login__section__link--noMarg {
  margin-left: 0;
}
.login__section__form {
  width: 350px;
}
.login__section__form__cont {
  flex-direction: column;
}
.login__section button {
  width: 170px;
}

.profil__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 100%;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.123);
}
.profil__top__pictures {
  width: 1000px;
  position: relative;
}
.profil__top__pictures__baneer {
  height: 400px;
  width: 100%;
  background: #e8e8e8;
}
.profil__top__pictures__baneer__new {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  padding-top: 15px;
}
.profil__top__pictures__baneer__new__btn {
  width: 90%;
  height: 50%;
  border: 1px solid gainsboro;
  color: #4e5166;
  border-radius: 7px;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.profil__top__pictures__baneer__new__btn:hover {
  background: #cfcfcf;
  color: #17181e;
  transition: all 120ms ease-in-out;
}
.profil__top__pictures__baneer__new__overview {
  height: 50%;
}
.profil__top__pictures__baneer__new__overview img {
  height: 70%;
  width: auto;
  object-fit: cover;
}
.profil__top__pictures__baneer__new__overview__btnCont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}
.profil__top__pictures__baneer__new__overview__btnCont button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.profil__top__pictures__baneer__new__overview__btnCont button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.profil__top__pictures__baneer__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.profil__top__pictures__profilImg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: white 7px solid;
  background: #e8e8e8;
  left: 50px;
  overflow: hidden;
  bottom: -100px;
}
.profil__top__pictures__profilImg__icon {
  font-size: 80px;
  color: #c2c2c2;
}
.profil__top__pictures__profilImg img {
  width: 160px;
  height: 160px;
  object-fit: cover;
}
.profil__top__pictures__profilImg button {
  position: absolute;
  bottom: 25px;
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.267);
  font-size: 0.7em;
  height: 25px;
}
.profil__top__pictures__profilImg button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.profil__top__pictures__changeBaneer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.profil__top__pictures__changeBaneer:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.profil__top__pictures__changeBaneer--valid {
  right: 120px;
}
@media screen and (max-width: 1050px) {
  .profil__top__pictures {
    width: 100%;
  }
}
.profil__top__infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 250px;
  height: 70px;
  width: 750px;
}
.profil__top__infos p {
  font-size: 1.8em;
  font-weight: 700;
  color: #4e5166;
}
.profil__top__infos__btnCont button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  margin-left: 10px;
}
.profil__top__infos__btnCont button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
@media screen and (max-width: 1050px) {
  .profil__top__infos {
    width: auto;
    justify-content: flex-end;
    width: 100%;
    margin: initial;
  }
  .profil__top__infos__btnCont button {
    margin-right: 20px;
  }
}
.profil__top__menu {
  display: flex;
  align-items: center;
  border-top: 1px solid #d5d6df;
  width: 1000px;
  margin-top: 50px;
  height: 60px;
}
.profil__top__menu p {
  color: #4e5166;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: underline;
  margin: 0 10px;
  text-decoration-thickness: 2px;
  cursor: pointer;
  transition: all 120ms ease-in-out;
}
.profil__top__menu p:hover {
  color: #fd2d01;
  transition: all 120ms ease-in-out;
}
@media screen and (max-width: 1050px) {
  .profil__top__menu {
    width: 100%;
  }
}
.profil__content {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  border-radius: 7px;
  margin: 25px 0;
}
.profil__content__left {
  width: 280px;
  background: white;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.199);
  border-radius: 8px;
  min-height: 250px;
  height: auto;
  box-sizing: border-box;
  padding: 25px 15px 15px;
  margin-bottom: 20px;
}
.profil__content__left__alone {
  color: #4e5166;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  margin-top: 50px;
  height: 170px;
}
.profil__content__left__friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer;
}
.profil__content__left__friend__infos {
  display: flex;
  align-items: center;
}
.profil__content__left__friend__infos__imgCont {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 7px;
}
.profil__content__left__friend__infos__imgCont img {
  height: 35px;
  width: 35px;
  object-fit: cover;
}
.profil__content__left__friend__infos h3 {
  font-size: 1.2em;
  font-weight: 700;
  color: #4e5166;
  transition: all 120ms ease-in-out;
}
.profil__content__left__friend p {
  font-size: 0.9em;
  font-weight: 500;
  color: #4e5166;
  margin-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #cfcfcf;
}
.profil__content__left__friend:hover h3 {
  color: #fd2d01;
  transition: all 120ms ease-in-out;
}
.profil__content__articles {
  width: 700px;
}
.profil__content__articles article {
  margin-bottom: 20px;
}
@media screen and (max-width: 1050px) {
  .profil__content {
    width: 100%;
    justify-content: center;
  }
  .profil__content__left {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .profil__content__articles {
    width: 95%;
  }
}
.profil__edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  width: 1000px;
  padding: 40px 0;
  margin: 25px 0;
  border-radius: 8px;
}
.profil__edit h2 {
  font-size: 1.7em;
  font-weight: 700;
  color: #4e5166;
  margin-bottom: 70px;
}
.profil__edit__form {
  display: flex;
  flex-direction: column;
  width: 800px;
}
.profil__edit__form__tabsCon {
  display: flex;
}
.profil__edit__form__tabsCon__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  width: 150px;
  height: 60px;
  cursor: pointer;
  border-top: solid 1px #c2c2c2;
  border-left: solid 1px #c2c2c2;
  border-bottom: solid 1px rgba(255, 255, 255, 0);
  border-right: solid 1px rgba(255, 255, 255, 0);
  box-sizing: border-box;
  text-transform: uppercase;
  color: #4e5166;
  transition: all 40ms ease-in-out;
}
.profil__edit__form__tabsCon__tab:hover {
  border-right: solid #c2c2c2;
  border-bottom: solid #c2c2c2;
  border-width: 4px;
  transition: all 40ms ease-in-out;
}
.profil__edit__form__tabsCon__tab--active {
  background: #ffd7d7;
}
.profil__edit__form__tabsCon__tab--del {
  box-sizing: border-box;
  width: auto;
  padding: 0 15px;
  border-right: solid 1px #c2c2c2;
  transition: all 150ms ease-in-out;
}
.profil__edit__form__tabsCon__tab--del:hover {
  background: #dd0000;
  transition: all 150ms ease-in-out;
  border-width: 1px;
  border-bottom: none;
  color: #eeeeee;
}
.profil__edit__form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px #c2c2c2;
  height: 300px;
}
.profil__edit__form__container input {
  background-color: #fff1f1;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding-left: 25px;
  font-size: 1.1em;
  margin-bottom: 15px;
}
.profil__edit__form__container button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.profil__edit__form__container button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.profil__edit__form__container--hidden {
  display: none;
}
.profil__edit__errorCont {
  width: 800px;
  margin-bottom: 15px;
  color: #dd0000;
}
@media screen and (max-width: 1050px) {
  .profil__edit {
    width: 95%;
  }
  .profil__edit__form {
    width: 90%;
  }
}
.profil__changeProfilImg, .profil__confirmCancelRelation {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.705);
}
.profil__changeProfilImg__modal, .profil__confirmCancelRelation__modal {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px 35px;
  border-radius: 7px;
  width: 400px;
}
.profil__changeProfilImg__modal h2, .profil__confirmCancelRelation__modal h2 {
  font-size: 1.4em;
  font-weight: 600;
  color: #4e5166;
  text-align: center;
  margin-bottom: 25px;
}
.profil__changeProfilImg__modal__btnCont, .profil__confirmCancelRelation__modal__btnCont {
  display: flex;
  justify-content: center;
}
.profil__changeProfilImg__modal__btnCont button, .profil__confirmCancelRelation__modal__btnCont button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  margin: 0 7px;
}
.profil__changeProfilImg__modal__btnCont button:hover, .profil__confirmCancelRelation__modal__btnCont button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.profil__changeProfilImg__modal__para, .profil__confirmCancelRelation__modal__para {
  text-align: center;
  color: #dd0000;
  margin-bottom: 50px;
  margin-top: -15px;
}
.profil__friendsList {
  width: 1000px;
  border-radius: 7px;
  margin: 25px 0;
  background: white;
  box-sizing: border-box;
  padding: 25px 40px 70px;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.199);
}
.profil__friendsList h2 {
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
  color: #4e5166;
}
.profil__friendsList__list {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(430px, 430px));
  grid-auto-rows: 110px;
  grid-gap: 20px;
}
.profil__friendsList__list__friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #cfcfcf;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 0 10px;
  width: 430px;
  height: 110px;
}
.profil__friendsList__list__friend__left {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.profil__friendsList__list__friend__left__imgCont {
  height: 85px;
  width: 85px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 15px;
}
.profil__friendsList__list__friend__left__imgCont img {
  height: 85px;
  width: 85px;
  object-fit: cover;
}
.profil__friendsList__list__friend__left__name {
  font-size: 1.2em;
  font-weight: 600;
  color: #4e5166;
  transition: all 150ms ease-in-out;
}
.profil__friendsList__list__friend__left:hover .profil__friendsList__list__friend__left__name {
  color: #fd2d01;
  transition: all 150ms ease-in-out;
}
.profil__friendsList__list__friend__right__addBtn {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.profil__friendsList__list__friend__right__addBtn:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.profil__friendsList__list__friend__right__menuCont {
  position: relative;
}
.profil__friendsList__list__friend__right__menuCont__icon {
  cursor: pointer;
  color: #4e5166;
  transition: all 120ms ease-in-out;
}
.profil__friendsList__list__friend__right__menuCont__icon:hover {
  color: #fd2d01;
  transition: all 120ms ease-in-out;
}
.profil__friendsList__list__friend__right__menuCont__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  right: 0;
  padding: 10px 15px;
  width: 185px;
  background: white;
  border-radius: 6px;
  line-height: 1.4;
  box-shadow: 2px 0 18px rgba(0, 0, 0, 0.212);
}
.profil__friendsList__list__friend__right__menuCont__menu__separator {
  border-bottom: 1px solid #e6e7ec;
  margin: 5px 0;
}
.profil__friendsList__list__friend__right__menuCont__menu__link {
  color: #4e5166;
  cursor: pointer;
  transition: all 140ms ease-in-out;
}
.profil__friendsList__list__friend__right__menuCont__menu__link:hover {
  color: #fd2d01;
  transition: all 140ms ease-in-out;
}
@media screen and (max-width: 1050px) {
  .profil__friendsList__list__friend__right__menuCont__menu {
    right: -60px;
  }
}
@media screen and (max-width: 750px) {
  .profil__friendsList__list__friend__right__menuCont__menu {
    right: initial;
    width: 80%;
    margin-right: 30px;
    /* position: fixed;
    top: 0;bottom: 0;
    left: 0;right: 0;
    width: 100%; */
  }
}
.profil__friendsList__list__pending {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #cfcfcf;
}
@media screen and (max-width: 1050px) {
  .profil__friendsList {
    width: 95%;
    padding: 25px 0px 70px;
  }
  .profil__friendsList__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.messenger {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}
.messenger__userSelected {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  height: 100px;
  width: 600px;
  cursor: pointer;
}
.messenger__userSelected__user {
  display: flex;
  align-items: center;
  height: 40px;
}
.messenger__userSelected__user__imgCont {
  background: #000;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.messenger__userSelected__user__imgCont img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.messenger__userSelected__user p {
  font-size: 1.2em;
  font-weight: 700;
  color: #4e5166;
  margin-left: 10px;
  padding-bottom: 4px;
  transition: all 110ms ease-in-out;
}
.messenger__userSelected__user:hover p {
  color: #fd2d01;
  transition: all 110ms ease-in-out;
}
.messenger__container {
  position: relative;
  border: 1px solid gainsboro;
  border-radius: 3px;
  width: 600px;
  height: 100%;
  margin-bottom: 72px;
  padding: 25px;
  overflow-x: scroll;
  background: white;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.13);
}
.messenger__container__messages {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.messenger__container__messages__msg {
  display: flex;
  color: #080808;
}
.messenger__container__messages__msg__cont {
  margin-bottom: 7px;
  padding: 7px 15px 15px;
  border-radius: 10px;
  background: #ffd7d7;
  max-width: 85%;
}
.messenger__container__messages__msg__cont h2 {
  color: #4e5166;
  font-size: 1.1em;
  font-weight: 500;
}
.messenger__container__messages__msg__cont__content {
  line-height: 1.2;
  margin: 15px 0 9px;
}
.messenger__container__messages__msg__cont__date {
  font-size: 0.8em;
  font-weight: 500;
  color: #8f8f8f;
}
.messenger__container__messages__msg__cont__date--logged {
  color: #ffd7d7;
}
.messenger__container__messages__msg__cont--logged {
  background: #fd2d01;
  text-align: right;
}
.messenger__container__messages__msg--logged {
  justify-content: flex-end;
}
.messenger__container__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  margin-left: -25px;
  background: white;
  position: fixed;
  bottom: 20px;
  height: 80px;
}
.messenger__container__form input {
  height: 40px;
  background-color: #fff1f1;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding-left: 25px;
  font-size: 1.1em;
  width: 420px;
  border-radius: 5px 0 0 5px;
  font-size: 1em;
}
.messenger__container__form button {
  height: 40px;
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  border-radius: 0 5px 5px 0;
}
.messenger__container__form button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.messenger__friendsList {
  text-align: end;
  position: absolute;
  right: 0;
  background: white;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.164);
  overflow-y: scroll;
  max-height: 60vh;
}
.messenger__friendsList__noFriend {
  width: 260px;
  margin: 30px 0;
  text-align: center;
}
.messenger__friendsList__friend {
  width: 230px;
  padding: 20px 15px;
  cursor: pointer;
}
.messenger__friendsList__friend__profil {
  display: flex;
  justify-content: end;
  align-items: center;
}
.messenger__friendsList__friend__profil__imgCont {
  height: 30px;
  width: 30px;
  margin-right: 7px;
  border-radius: 50%;
  overflow: hidden;
}
.messenger__friendsList__friend__profil__imgCont img {
  height: 30px;
  width: 30px;
  object-fit: cover;
}
.messenger__friendsList__friend__profil__fullname {
  font-size: 1.1em;
  font-weight: 600;
}
.messenger__friendsList__friend__statusCont {
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.messenger__friendsList__friend__statusCont__status {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin-right: 5px;
  background: green;
}
.messenger__friendsList__friend__statusCont__status--off {
  background: #dd0000;
}
.messenger__friendsList__friend__statusCont p {
  color: #080808;
  font-size: 0.8em;
}
.messenger__friendsList__friend:hover {
  background: #ffd7d7;
}
@media screen and (max-width: 1230px) {
  .messenger__friendsList__friend {
    width: 150px;
  }
}
@media screen and (max-width: 1050px) {
  .messenger__friendsList--hide {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .messenger__friendsList {
    z-index: 1;
  }
}
.messenger__friendToggleBtn {
  display: none;
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  margin-top: 15px;
}
.messenger__friendToggleBtn:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
@media screen and (max-width: 1050px) {
  .messenger__friendToggleBtn {
    display: block;
  }
}

.notFound {
  height: 100vh;
  position: relative;
  background: white;
}
.notFound__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4e5166;
}
.notFound__container h1 {
  font-size: 2.8em;
  font-weight: 700;
  margin-top: 50px;
}
.notFound__container h2 {
  font-size: 1.8em;
  font-weight: 600;
  margin: 10px 0 40px;
}
.notFound__container button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.notFound__container button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}

.about {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.about section {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px 35px;
  border-radius: 6px;
  width: 800px;
}
.about section h1 {
  color: #4e5166;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
}
.about section p {
  line-height: 1.4;
  margin-top: 25px;
  font-weight: 500;
  color: #080808;
}
@media screen and (max-width: 1050px) {
  .about section {
    width: 700px;
  }
}
@media screen and (max-width: 750px) {
  .about section {
    width: 85%;
    padding: 10px 20px;
  }
}

.legals {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.legals__signLink {
  position: absolute;
  top: 15px;
  left: 20px;
  color: blue;
  transition: all 140ms ease-in-out;
}
.legals__signLink:hover {
  color: #fd2d01;
  transition: all 140ms ease-in-out;
}
.legals__content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.171);
  width: 750px;
  margin: 50px 0;
  box-sizing: border-box;
  padding: 25px 35px;
}
.legals__content h1 {
  color: #4e5166;
  font-size: 1.7em;
  font-weight: 600;
  text-align: center;
}
.legals__content h2 {
  color: #4e5166;
  font-size: 1.4em;
  font-weight: 600;
  margin: 60px 0 30px;
}
.legals__content p {
  line-height: 1.4;
  color: #080808;
  font-weight: 500;
}
.legals__content__p2 {
  margin-top: 30px;
}
@media screen and (max-width: 1050px) {
  .legals__content {
    width: 700px;
  }
}
@media screen and (max-width: 750px) {
  .legals__content {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
