/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

.postArticle {
  background: white;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  border-radius: 8px;
}
.postArticle__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
}
.postArticle__top__infos {
  display: flex;
  align-items: center;
}
.postArticle__top__infos__imgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.postArticle__top__infos__imgCont__user {
  height: 22px;
  color: #c8c8c8;
}
.postArticle__top__infos__nameCont {
  line-height: 1.3;
}
.postArticle__top__infos__nameCont__name {
  font-weight: 600;
  text-transform: capitalize;
  color: #4e5166;
}
.postArticle__top__infos__nameCont__time {
  font-weight: 300;
  color: #8f8f8f;
}
.postArticle__top__menu {
  height: 16px;
  cursor: pointer;
}
.postArticle__content p {
  padding: 5px 20px 25px;
  line-height: 1.3;
  color: #080808;
}
.postArticle__content img {
  width: 100%;
}
.postArticle__btns {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.postArticle__btns__cont {
  color: #4e5166;
  display: flex;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.postArticle__btns__cont__iconCont__icon {
  height: 16px;
  margin-right: 5px;
}
.postArticle__btns__cont:hover {
  color: #fd2d01;
  transition: all 150ms ease-in-out;
}
.postArticle__separator {
  border-top: 1px solid #e3e3e3;
  margin: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.568);
}
.header__menu {
  display: flex;
}
.header__menu__hamburger {
  height: 30px;
  color: #fd2d01;
}
.header__menu img {
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
}
.header__btns {
  display: flex;
}
.header__btns__btn {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eeeeee;
}

.home__newContent {
  width: 700px;
}
.home__newContent__new {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
}
.home__newContent__new h2 {
  font-weight: 600;
  font-size: 1.3em;
  color: #4e5166;
  margin-bottom: 30px;
}
.home__newContent__new__title {
  background-color: #fff1f1;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding-left: 25px;
  font-size: 1.1em;
}
.home__newContent__new textarea {
  resize: vertical;
  margin: 20px 0;
  border-radius: 30px;
  padding: 25px;
  background-color: #fff1f1;
  border: none;
}
.home__newContent__new__addImg {
  width: 100%;
  border-radius: 30px;
  background-color: #fff1f1;
}
.home__newContent__new__addImg__topBtn {
  background-color: #fff1f1;
  border-radius: 30px;
  border: none;
  width: 100%;
  height: 100px;
  font-size: 1.1em;
  color: gray;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.home__newContent__new__addImg__topBtn:hover {
  color: #4e5166;
  transition: all 150ms ease-in-out;
}
.home__newContent__new__addImg__overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__newContent__new__addImg__overview img {
  width: 80%;
  border-radius: 4px;
}
.home__newContent__new__addImg__overview__btnCont {
  display: flex;
  justify-content: center;
  width: 100%;
}
.home__newContent__new__addImg__overview__btnCont__deleteBtn {
  margin-top: 20px;
  width: 80%;
  border: none;
  background-color: #fff1f1;
  padding: 10px 0;
  color: gray;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.home__newContent__new__addImg__overview__btnCont__deleteBtn:hover {
  color: #4e5166;
  transition: all 150ms ease-in-out;
}
.home__newContent__new__addBtn {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 35px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  width: 90px;
  margin-top: 30px;
}
.home__newContent__new__addBtn:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.home__mainContent {
  display: flex;
  flex-direction: column;
  width: 700px;
}
.home__mainContent article {
  margin-top: 20px;
}

.sign {
  min-height: 90vh;
  position: relative;
}
.sign__form {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 25px;
  border-radius: 8px;
}
.sign__form h1 {
  font-weight: 600;
  font-size: 1.3em;
  color: #4e5166;
  margin-bottom: 40px;
  margin-left: 7px;
}
.sign__form__errorCont {
  margin-bottom: 22px;
  line-height: 1.2;
  color: #dd0000;
}
.sign__form__cont {
  display: flex;
}
.sign__form__cont__inputCont {
  display: flex;
  flex-direction: column;
  margin: 0 7px 30px;
}
.sign__form__cont__inputCont input {
  background-color: #fff1f1;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding-left: 25px;
  font-size: 1.1em;
}
.sign__form__checkCont {
  display: flex;
  align-items: center;
  margin-left: 7px;
  color: #4e5166;
}
.sign__form__checkCont input {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.sign__form__checkCont label {
  cursor: pointer;
}
.sign__form__btnCont {
  margin: 20px 0 0 7px;
}
.sign__form__btnCont button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 35px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  width: 100px;
}
.sign__form__btnCont button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}

.login {
  min-height: 90vh;
  position: relative;
}
.login__form {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 25px;
  border-radius: 8px;
}
.login__form h1 {
  font-weight: 600;
  font-size: 1.3em;
  color: #4e5166;
  margin-bottom: 40px;
  margin-left: 7px;
}
.login__form__errorCont {
  margin-bottom: 22px;
  line-height: 1.2;
  color: #dd0000;
}
.login__form__cont {
  display: flex;
}
.login__form__cont__inputCont {
  display: flex;
  flex-direction: column;
  margin: 0 7px 30px;
}
.login__form__cont__inputCont input {
  background-color: #fff1f1;
  border: none;
  border-radius: 30px;
  height: 35px;
  padding-left: 25px;
  font-size: 1.1em;
}
.login__form__checkCont {
  display: flex;
  align-items: center;
  margin-left: 7px;
  color: #4e5166;
}
.login__form__checkCont input {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.login__form__checkCont label {
  cursor: pointer;
}
.login__form__btnCont {
  margin: 20px 0 0 7px;
}
.login__form__btnCont button {
  background: #ffd7d7;
  border: none;
  padding: 5px 10px;
  color: #4e5166;
  font-weight: 600;
  text-transform: uppercase;
  height: 35px;
  border-radius: 35px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  width: 100px;
}
.login__form__btnCont button:hover {
  background: #ffbebe;
  transition: all 150ms ease-in-out;
}
.login__form {
  width: 350px;
}
.login__form__cont {
  flex-direction: column;
}
.login button {
  width: 170px;
}

/*# sourceMappingURL=style.css.map */
