.legals {
    position: fixed;
    top: 0;bottom: 0;
    left: 0;right: 0;
    &__signLink {
        position: absolute;
        top: 15px;
        left: 20px;
        color: blue;
        transition: all 140ms ease-in-out;
        &:hover {
            color: map-get($map: $colors, $key: primary);
            transition: all 140ms ease-in-out;
        }
    }
    &__content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border-radius: 8px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.171);
        width: 750px;
        margin: 50px 0;
        box-sizing: border-box;
        padding: 25px 35px;
        h1 {
            color: map-get($map: $colors, $key: tertiary);
            font-size: 1.7em;
            font-weight: 600;
            text-align: center;
        }
        h2 {
            color: map-get($map: $colors, $key: tertiary);
            font-size: 1.4em;
            font-weight: 600;
            margin: 60px 0 30px;
        }
        p {
            line-height: 1.4;
            color: map-get($map: $colors, $key:light-black );
            font-weight: 500;
        }
        &__p2 {
            margin-top: 30px;
        }
    }
}