.login {
    @include registUserForm;
    &__section {
        &__form {
            width: 350px;
            &__cont {
                flex-direction: column;
            }
        }
        button {
            width: 170px;
        }
    }
}