.login {
    @include registUserForm;
    &__section {
        &__form {
            width: 350px;
            &__cont {
                flex-direction: column;
            }
        }
        button {
            width: 170px;
        }
    }
    @include toMobile {
        &__section {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            &__form {
                width: 92%;
            }
            button {
                width: 100%;
                height: 40px;
            }
        }
    }
}