@mixin btn {
    background: map-get($colors, secondary);
    border: none;
    padding: 5px 10px;
    color: map-get($map: $colors, $key: tertiary);
    font-weight: 600;
    text-transform: uppercase;
    height: 35px;
    border-radius: 35px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    &:hover {
        background: darken(map-get($colors, secondary), 5);
        transition: all 150ms ease-in-out;
    }
}

@mixin inputField {
    background-color: lighten(map-get($map: $colors, $key:secondary ), 5);
    border: none;
    border-radius: 30px;
    height: 35px;
    padding-left: 25px;
    font-size: 1.1em;
}

@mixin registUserForm {
    min-height: 90vh;
    position: relative;
    &__form {
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 25px;
        border-radius: 8px;
        h1 {
            font-weight: 600;
            font-size: 1.3em;
            color: map-get($map: $colors, $key:tertiary );
            margin-bottom: 40px;
            margin-left: 7px;
        }
        &__errorCont {
            margin-bottom: 22px;
            line-height: 1.2;
            color: map-get($map: $colors, $key:light-red );
        }
        &__cont {
            display: flex;
            &__inputCont {
                display: flex;
                flex-direction: column;
                margin: 0 7px 30px;
                input {
                    @include inputField;
                }
            }
        }
        &__checkCont {
            display: flex;
            align-items: center;
            margin-left: 7px;
            color: map-get($map: $colors, $key:tertiary );
            input {
                cursor: pointer;
                height: 20px;width: 20px;
                margin-right: 10px;
            }
            label {
                cursor: pointer;
            }
        }
        &__btnCont {
            margin: 20px 0 0 7px;
            button {
                @include btn;
                width: 100px;
            }
        }
    }
}

@mixin noImgUserCont {
    display: flex;
    justify-content: center;
    align-items: center;
    background: map-get($map: $colors, $key:light-white );
    height: 40px;width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    &__user {
        height: 22px;
        color: darken($color: map-get($map: $colors, $key:light-white ), $amount: 15);
    }
}

@mixin comment {
    padding: 10px 25px;
    &__top {
        display: flex;
        position: relative;
        color: darken(map-get($map: $colors, $key:tertiary ), 20);
        &__profilCont {
            @include noImgUserCont;
        }
        &__bubble {
            position: absolute;
            z-index: 1;
            top: 12px;
            left: 50px;
            height: 15px;width: 15px;
            background: map-get($map: $colors, $key: secondary);
            transform: rotate(45deg);
            &--me {
                background: darken(map-get($map: $colors, $key: secondary), 15);
            }
        }
        &__content {
            z-index: 10;
            background: map-get($map: $colors, $key: secondary);
            padding: 10px;
            border-radius: 5px;
            line-height: 1.4;
            letter-spacing: 0.3px;
            max-width: 81%;
            &--me {
                background: darken(map-get($map: $colors, $key: secondary), 15);
            }
        }
        &__menuCont {
            position: relative;
            &__menuBtn {
                width: 16px;
                margin: 2px 0 0 10px;
                color: map-get($map: $colors, $key: tertiary);
                cursor: pointer;
                transition: all 110ms ease-in-out;
                &:hover {
                    color: map-get($map: $colors, $key: primary);
                    transition: all 110ms ease-in-out;
                }
            }
            &__menu {
                display: flex;
                flex-direction: column;
                position: absolute;
                z-index: 100;
                right: 0;
                padding: 10px 15px;
                width: 185px;
                background: white;   
                border-radius: 6px;
                line-height: 1.4;
                box-shadow: 2px 0 18px rgba(0, 0, 0, 0.212);
                &__separator {
                    border-bottom: 1px solid lighten(map-get($map: $colors, $key:tertiary ), 56);
                    margin: 5px 0;
                }
                &__link {
                    color: map-get($map: $colors, $key: tertiary);
                    cursor: pointer;
                    transition: all 140ms ease-in-out;
                    &:hover {
                        color: map-get($map: $colors, $key: primary);
                        transition: all 140ms ease-in-out;
                    }
                }
            }
        }
    }
    &__bot {
        display: flex;
        margin-top: 8px;
        padding-left: 55px;
        p{
            margin-right: 12px;
        }
        &__link {
            color: map-get($map: $colors, $key:tertiary );
            cursor: pointer;
            transition: all 150ms ease-in-out;
            &:hover {
                color: map-get($map: $colors, $key: primary);
                transition: all 150ms ease-in-out;
            }
        }
        &__time {
            color: map-get($map: $colors, $key:light-gray );
        }
    }
    &__deleteModal {
        position: fixed;
        z-index: 100;
        top: 0;bottom: 0;
        left: 0;right: 0;
        background: rgba(0, 0, 0, 0.719);
        &__modal {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 45%;left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 25px;
            border-radius: 5px;
            h2 {
                font-size: 1.2em;
                font-weight: 600;
                margin-bottom: 50px;
            }
            &__btnCont {
                button {
                    @include btn;
                    margin: 0 10px;
                }
            }
        }
    }
}