$colors: (
    primary: #fd2d01,
    secondary: #ffd7d7,
    tertiary: #4e5166,
    light-white: #eeeeee,
    light-black: #080808,
    light-red: #dd0000,
    light-gray: #8f8f8f
);

$queries: (
    lowDesktop: 1230px,
    tablet: 1050px,
    mobile: 750px
);